//h1= title
//p Welcome to #{title}

include top.html

include index.html

link(rel="stylesheet", href="/site/dist/css/leaflet.css")
link(rel="stylesheet", href="/site/dist/css/MarkerCluster.Default.css")
link(rel="stylesheet", href="/site/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="/site/dist/css/ladda.min.css")
link(rel="stylesheet", href="/site/dist/css/mfb.min.css")
link(rel='stylesheet', href='/site/dist/css/style.min.css')
link(rel='stylesheet', href='/site/dist/css/avgrund.css')
<!--[if lte IE 8]>link(rel="stylesheet", href="site/leaflet.ie.css")<![endif]-->

//-<!-- build:js site/dist/js/vendor.min.js -->
script(src="/site/dist/js/jquery.min.js")
script(src="/site/dist/js/spin.min.js")
script(src="/site/dist/js/ladda.min.js")
script(src="/site/dist/js/bootstrap.min.js")
script(src="/site/dist/js/leaflet.min.js")
script(src="/site/dist/js/markercluster.min.js")
script(src="/site/dist/js/mfb.min.js")
script(src="/site/dist/js/avgrund.js")
//-<!-- endbuild -->

script(src="/site/dist/js/app.js")
