//h1= title
//p Welcome to #{title}

include index.html

script(src="/site/dist/js/jquery.min.js")
script(src="/site/dist/js/leaflet.min.js")
script(src="/site/dist/js/markercluster.min.js")
script(src="/site/dist/js/app.js")


script.
	showDistricts(!{JSON.stringify(districts)})
	showSchools(!{JSON.stringify(schools)})
