<!-- <div class="side-panel">
  <div style="width: 70%;margin:10px auto;" >
  
    <fieldset class="radiogroup">
      <legend>School gender</legend>
      <span class="radio">
        <input type="radio" class="radio allradio" name="gender" value="allgender" checked="checked">All
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="gender" value="girls">Girls
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="gender" value="boys">Boys
      </span>
    </fieldset>

    level
    <fieldset class="radiogroup">
      <legend>School Level</legend>
      <span class="radio">
        <input type="radio" class="radio allradio" name="level" value="alllevel" checked="checked">All level
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="level" value="primary">Primary Schools
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="level" value="middle">Middle Schools
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="level" value="high">High Schools
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="level" value="highersec">Higher Secondary Schools
      </span>

    </fieldset>

    status
    <fieldset class="radiogroup">
      <legend>School Status</legend>
      <span class="radio">
      <input type="radio" class="radio allradio" name="status" value="allstatus" checked="checked">All status
      </span>
      <span class="radio">
      <input type="radio" class="radio" name="status" value="functional">Functional
      </span>
      <span class="radio">
      <input type="radio" class="radio" name="status" value="closed">Temporary Closed
      </span>
    </fieldset>

    location
    <fieldset class="radiogroup">
      <legend>School Location</legend>    
      <span class="radio">
        <input type="radio" class="radio allradio" name="location" value="alllocation" checked="checked">All locations
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="location" value="urban">Urban
      </span>
      <span class="radio">
        <input type="radio" class="radio" name="location" value="rural">Rural
      </span>
    </fieldset>

    <div style="margin-top:10px;">
      <button id="refresh-btn" class="ladda-button btn btn-default" data-size="xs" data-color="red" data-style="slide-up">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        <span class="ladda-label">Submit</span>
        <span class="ladda-spinner"></span>
      </button>
      <button id="clear-btn" class="ladda-button btn btn-default" data-size="xs" data-color="red" data-style="slide-up">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="ladda-label">Reset</span>
      </button>
    </div>

  </div>
</div> -->

<ul id="about" class="mfb-component--bl  mfb-fountain " onclick="">
  <li class="mfb-component__wrap">
<i class="glyphicon glyphicon-info-sign ladda-button" style="font-size: 2em;" data-color="blue" data-size="xs"></i>
  </li>
</ul>

<aside id="about-box" class="avgrund-popup">
  <h3 style="text-align:center;">Developed by</h3>
  <button class="btn btn-primary" onclick="javascript:closeDialog();">Close</button>
</aside>

<div class="avgrund-cover"></div>

<div id="map"></div>

<div class="cd-panel from-left">
  <div class="cd-panel-container">
    <div class="cd-panel-content panel">
      <p class="text-muted">
        Developed by <a href="https://www.linkedin.com/in/suaocs">Saleem Ullah</a>, <a href="mailto:iftikhar_mashwani@yahoo.com">Iftikhar Ali Mashwani</a> (GIS Officer, PMU, FWRDP, Peshawar) and  <a href="mailto:iftikhar_mashwani@yahoo.com">Daud Kamal</a>(MS IGIS, NUST)
        <br />
        Code licensed <a href="http://suaoc.mit-license.org">MIT</a></p>

    </div> <!-- cd-panel-content -->
  </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

<!-- <span class="glyphicon glyphicon-remove" style="z-index:1000;" aria-hidden="true"></span> -->