doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/site/dist/css/leaflet.css")
    link(rel="stylesheet", href="/site/dist/css/MarkerCluster.Default.css")
    link(rel="stylesheet", href="/site/dist/css/bootstrap.min.css")
    <!--[if lte IE 8]>link(rel="stylesheet", href="site/leaflet.ie.css")<![endif]-->

    style.
      html { height: 100% }
      body {
       height: 100%;
       margin: 0; padding: 0;
      }
      #map{ 
        height: 100% 
      }
      legend {
        margin-bottom: 5px;
        line-height: 20px;
      }
  body!= body